<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} base {% endblock %}</title>
</head>
<body>
{% if request.user.is_authenticated %}
<p>hallo {{request.user.username}}</p>
<a href="{% url 'web:logout' %}">Logout</a>
{% else %}
<!-- hier steht was ein nicht-user sehen kann -->
<a href="{% url 'web:login' %}">Login</a>
<a href="{% url 'web:register' %}">Account anlegen</a>
{% endif %}

{% block authForm %}
{% endblock %}

</body>
</html>