{% extends 'web/base.html' %}

{% block title %} login {% endblock %}

{% block authForm %}

<form method="post" action="">
        {% csrf_token %}
        {{ login_form.as_p }}
    <button type="submit">Login</button>
</form>

{% endblock %}