{% extends 'web/base.html' %}

{% block title %} register {% endblock %}

{% block authForm %}

<form method="post" action="">
    {% csrf_token %}
    {{ register_form.as_p }}
    <button type="submit">Account anlegen</button>
</form>


{% endblock %}
